@import "bourbon";
@import "neat";

@include clearfix;

$sans-serif: Lato, "Source Sans Pro", Helvetica, Verdana, sans-serif;
$serif: Merriweather, Georgia, 'Times New Roman', serif;
$mono: 'Source Code Pro', Courier, mono;

//font-family: $sans-serif;
//text-align: left;

h1, h2, h3, p {
	margin: 0;
}

h1 {
	font-family: $serif;
	font-size: 1.8em;
	font-weight: 700;
	margin-bottom: 0.5em;
}
