logs
*.log
pids
*.pid
*.seed
lib-cov
coverage
.grunt
.lock-wscript
build/Release
node_modules
app/node_modules
.DS_Store
release
app/main.js
app/main.js.map
app/bundle.js
app/bundle.js.map
dist
main.js
main.js.map
.idea
